:root {
  --background-color: #1d1f21;
  --primary-color: #7a4bdf;
  --secondary-color: #ffffff;
  --tertiary-color: #7a4bdf6d;
  --text-color: #fff;
  --green: #28c079;
  --red: #fe5e5e;
  --gray: #c3c3c3;
  --radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: #fff;
}

header,
footer,
main {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

main {
  flex-direction: column;
  flex: 1;
  padding: 3rem 1rem 25vh;
}

footer {
  border-top: 1px solid #a7a7a776;
  height: 10rem;
}

/* Header Styles */

header {
  height: 7rem;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  column-gap: .25rem;
}

header nav ul {
  column-gap: 2rem;
}

header nav a:hover {
  color: var(--primary-color);
}

.auth-nav a {
  border-radius: var(--radius);
  padding: .5rem;
  font-weight: 500;
}

.auth-nav a:hover {
  color: var(--background-color);
  background-color: var(--secondary-color);
}


/* Auth Pages */

#auth_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

#auth_title_image h3 {
  margin-top: .5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
}

#auth_title_image img {
  width: 100%;
  max-width: 250px;
  margin-top: 3rem;
}

#auth_form {
  display: flex;
  flex-direction: column;
  width: 450px;
  row-gap: 1rem;
}

#auth_form input[type="submit"] {
  margin-top: 2rem;
}

.error-message {
  margin-left: 1.25rem;
  color: var(--red);
}

@media (max-width: 650px) {
  #auth_wrapper {
    flex-direction: column;
    padding: 0 2rem;
  }

  #auth_form {
    width: 100%;
  }

  #auth_title_image img {
    display: none;
  }
}


/* Inputs */

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background-color: var(--primary-color);
}

.financy-input-container {
  width: 100%;
  height: 3rem;
  position: relative;
}

.financy-input {
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
  outline: none;
  font-size: 1rem;
  color: var(--text-color);
  transition: .15s;
}

.financy-input:focus {
  border-color: var(--secondary-color);
}

.financy-input-container label {
  padding: 0 .25rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: var(--gray);
  transition: .15s;
}

.financy-input-container .top-label,
.financy-input:focus+label {
  top: 0;
  font-size: .8rem;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

/* Buttons and Links */

.financy-button {
  padding: .75rem 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--radius);
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all .15s;
}

.financy-button:hover {
  filter: brightness(110%);
}

.financy-button:active {
  filter: brightness(90%);
}

.financy-button:disabled {
  background-color: var(--gray);
  cursor: default;
  filter: none;
  border-color: var(--gray);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: .15s;
}

.link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.bi {
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .15s;
}

.bi:hover {
  background-color: var(--tertiary-color);
}

/* Others */
.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1d1f2138;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}