{% extends 'layout.html' %}

{% load static %}

{% block script %}{% endblock %}
{% block style %}{% endblock %}

{% block main %}
<form class="auth-form" action="{% url 'login' %}" method="post">
  <div class="error-message">
    <p>{{ error_message }}</p>
  </div>

  {% csrf_token %}

  <div class="financy-input-container">
    <input class="financy-input" type="text" name="username" id="username" required>
    <label for="username">Username</label>
  </div>

  <div class="financy-input-container">
    <input class="financy-input" type="password" name="password" id="password" required>
    <label for="password">Password</label>
  </div>

  <input class="financy-button" type="submit" value="Login">

  <p style="margin: 1rem;">
    <span>Don't have an account yet?</span>
    <a class="link" href="{% url 'register' %}">Register Here</a>
  </p>
</form>

{% endblock %}