{% extends 'layout.html' %}

{% load static %}

{% block main %}
<div id="auth_wrapper">

  <div id="auth_title_image">
    <h2>Sing up today</h2>
    <h3>Take your finances to the next level</h3>

    <img src="{% static 'media/business_mission.png' %}" alt="">
    <p><a href="https://storyset.com/education" target="_blank">Illustrations by Storyset</a></p>
  </div>

  <form id="auth_form" action="{% url 'register' %}" method="post">
    <div class="error-message">
      <p>{{ error_message }}</p>
    </div>

    {% csrf_token %}

    <div class="financy-input-container">
      <input class="financy-input" type="text" name="username" id="username" required>
      <label for="username">Username</label>
    </div>

    <div class="financy-input-container">
      <input class="financy-input" type="text" name="email" id="email" email>
      <label for="email">Email</label>
    </div>

    <div class="financy-input-container">
      <input class="financy-input" type="password" name="password" id="password" required>
      <label for="password">Password</label>
    </div>

    <div class="financy-input-container">
      <input class="financy-input" type="password" name="confirmation" id="confirmation" required>
      <label for="confirmation">Confirm password</label>
    </div>

    <input class="financy-button" type="submit" value="Register">

    <p style="margin: 1.25rem;">
      <span>Already have an account?</span>
      <a class="link" href="{% url 'login' %}">Login Here</a>
    </p>
  </form>
</div>

{% endblock %}